@model User

@{
    ViewData["Title"] = "Account Info";
    var Requestable = !User.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == "Admin" || c.Value == "Developer" || c.Value == "Writer" || c.Value == "CEO"));
}

<h2>Account Info</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form>    
    <img src="@ViewBag.avatarPath" class="mr-3 rounded-circle" alt="User Avatar" style="width: 64px;">
    <div class="mb-3">
        <label asp-for="@Model.Name" class="form-label">Name</label>
        <label asp-for="@Model.Name" type="text" class="form-control" readonly>@Model.Name</label>
    </div>
    
    <div class="mb-3">
        <label asp-for="@Model.Surname" class="form-label">Surname</label>
        <label asp-for="@Model.Surname" type="text" class="form-control" readonly />@Model.Surname</label>
    </div>
    
    <div class="mb-3">
        <label asp-for="@Model.Email" class="form-label">Email address</label>
        <label asp-for="@Model.Email" type="email" class="form-control" readonly />@Model.Email</label>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        @if(Requestable){
            <button type="button" class="btn btn-primary me-md-2" onclick="location.href='@Url.Action("RequestTobeWriter", "Identity")'">Request to be Writer</button>
        }
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Logout", "Identity")'">Logout</button>
    </div>
</form>

@if (ViewBag.Message != null)
{
    <p class="text-success mt-3">@ViewBag.Message</p>
}


