@model IEnumerable<UserRequest>?

@{
    ViewData["Title"] = "User Requests List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="AcceptRequest" asp-route-id="@item.UserId">Accept</a> |
                <a asp-action="RejectRequest" asp-route-id="@item.UserId">Reject</a>
            </td>
        </tr>
    }
    </tbody>
</table>
