@model IEnumerable<User>

<link rel="stylesheet" href="~/wwwroot/css/styles.css">

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <a href="@Url.Action("GetById", "Identity", new { id = user.Id })">
                            <img src="@(user.AvatarUrl ?? "https://wallpapers.com/images/hd/blank-default-pfp-wue0zko1dfxs9z2c.jpg")" class="rounded-circle mb-3" alt="User Avatar" style="width: 64px; height: 64px;">
                        </a>
                        <h5 class="card-title">@(user?.Name ?? "UNKNOWN") @(user?.Surname ?? "UNKNOWN")</h5>
                        <p class="card-text">Id: @(user?.Id.ToString() ?? "UNKNOWN")</p>
                        <p class="card-text">Email: @(user?.Email ?? "UNKNOWN")</p>
                        @if(ViewBag.CurrentUserId == user.Id){
                            <p>It's you</p>
                        }
                        else{
                            
                            <a href="@Url.Action("PromoteAdmin", "Admin", new { id = user.Id })" class="btn btn-primary btn-sm mr-1">Promote to Admin</a>
                            <a href="@Url.Action("BanUser", "Admin", new { id = user.Id })" class="btn btn-warning btn-sm mr-1">Ban</a>
                            <a href="@Url.Action("DeleteUser", "Admin", new { id = user.Id })" class="btn btn-danger btn-sm">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
